<ng-container *ngFor="let expression of category.expressionList; let i = index">
    <br *ngIf="(i > 0) && (i % categoryLength == 0)"/>
    <button type="button" class="btn {{buttonClass}}" data-toggle="tooltip" data-placement="top"
            [title]="expression.getShortCode() + ' -> ' + expression.getDefinition()" (click)="onClick(i)"
            [ngClass]=
            "{
                'btn-gray': !expression.isEnabled,
                'btn-red-clear': i %6 == 0,
                'btn-orange-clear': i % 6 == 1,
                'btn-yellow-clear': i % 6 == 2,
                'btn-green-clear': i %6 == 3,
                'btn-blue-clear': i % 6 == 4,
                'btn-purple-clear': i % 6 == 5
            }">
        <img *ngFor="let emoji of expression.emojis; let x = index" [src]=expression.getEmoji(x)
            [ngClass]="imgClass=='chest'?
            {
                 'cherries': i == 0,
                 'lemon': i == 1,
                 'melon': i == 2,
                 'watermelon': i == 3
            }: imgClass" />
    </button>
</ng-container>
