@import "../rainbowmenu/rainbowmenu.component.css";

.rate-border {
    border-radius: .25rem;
    padding: 6px;
    text-align: center;
    /*display: inline;*/
    margin-right: 10px;
    margin-bottom: 10px;
}

.rate-border-red {
    background: rgba(255, 0, 0, .1);
    border: 2px solid #dc3545;
}
.rate-border-orange {
    background: rgba(255, 165, 0, .075);
    border: 2px solid darkorange;
}
.rate-border-yellow {
    background: rgba(255, 255, 0, .075);
    border: 2px solid gold;
}
.rate-border-green {
    background: rgba(40, 167, 69, .1);
    border: 2px solid #28a745;
}
.rate-border-blue {
    background: rgba(0, 123, 255, .1);
    border: 2px solid #007bff;
}
.rate-border-purple {
    background: rgba(161, 23, 230, .1);
    border: 2px solid #A117E6;
}

.rateSmall {
    height: 22px;
    margin-top: 1px;
    margin-bottom: 1px;
}

img.rate {
    height: 30px;
}

img.red-orange{
    height: 90px;
}
